
<section class="hero-area">
    <div class="hero-slides owl-carousel">
        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/green.jpeg);">
            <div class="container h-100">
                <div class="row h-75 align-items-center">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                            <!--<h3 data-animation="fadeInUp" data-delay="300ms">Let God guide your path</h3>-->
                            <h2 data-animation="fadeInUp" data-delay="500ms" class="welcome">Town of Mount Crawford</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Button -->
            <!--<div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms" style="top: 75%">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="{{ url('/services') }}" class="btn faith-btn active">Sunday Worship: 10:00 AM</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/mnt2.jpeg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center justify-content-end">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                            <h2 data-animation="fadeInUp" data-delay="500ms"class="welcome">Town of Mount Crawford</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event Button -->
            <!--<div class="next-event-btn" data-animation="bounceInDown" data-delay="900ms">
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-right">
                            <a href="https://www.facebook.com/stpaulsumcstaunton" class="btn faith-btn active">Sunday Worship: 10:00 AM</a>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>

        <!-- Single Hero Slide -->
        <div class="single-hero-slide bg-img" style="background-image: url(../../assets/img/bg-img/mnt3.jpeg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-lg-12">
                        <!-- Slides Content -->
                        <div class="hero-slides-content">
                             <div class=clearfix><br><br><br><br><br><br><br><br>
                                <!--<h6 class="date" data-animation="fadeInUp" data-delay="100ms">October 4, 2020 @10 AM</h6>-->
                                <h2 data-animation="fadeInUp" class="welcome">Town of Mount Crawford</h2>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="alert alert-info" style="z-index: 100;" role="alert">
    <strong>Modified Hours of Town Hall Operation:</strong>
 <p>
            Due to the outbreak of COVID-19 Hours of operation may be modified without prior notice. I will be avaialble by phone for any concerns (540)- 421 - 0856. You may also call to make a payment by credit card
            </p>
            <p>Payments may be dropped in the black box to the left of the front doors of Town Hall or at the whiter drop box on Mill Street (just off Main Street)
            </p>
            <p>
            I appreciate you cooperation during this time. Thank You!
            </p>
            <p>
                Libby Orebaugh | Town Manager
            </p>
            <a href="https://us02web.zoom.us/j/82017269889?pwd=T0wxRURuUFlEYzdhRW91TjVTVFFqdz09" target="blank" class="btn btn-info">Join Town Hall Meeting</a>
            <a href="documents/Kyger%20Letter.pdf" target="blank" class="btn btn-info">Kyger Letter</a>
            <a href="documents/RC%20BOS%20Emergency%20Declaration.pdf" target="blank" class="btn btn-info">RC BOS Emergency Declaration</a>
            <a href="documents/Emergency%20Ordinance%20Procedure%20Electronic%20Meetings%20%20Hearings%20COVID-19.pdf" target="blank" class="btn btn-info">Emergency Ordinance</a>
            <a href="documents/RESOLUTION%20ELECT%20PUBLIC%20MEETINGS%20HEARINGS%20COVID-19.pdf" target="blank" class="btn btn-info">Resolution of Electronic Meetings</a>
</div>
<!-- ##### Hero Area End ##### -->

<!-- ##### About Area Start ##### -->
<section class="faith-about-area section-padding-100-0 white" style="background-color: #003030;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="about-content">
                    <img src="../../assets/img/main_street.png" alt="" class="img-circle" style="border-radius: 50%;">
                
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="about-content">
                
                    <br>
                    <h2 class="welcome">Welcome to Mount Crawford</h2>
                    <hr class="white" style="background-color: white;">
                    <h6 style="color: #fff;">Town of Mt.Crawford<br>
                        PO Box 187<br>
                        Mt. Crawford, VA 22841</h6>
                        <h6 class="white" style="color: white; text-decoration: none">townofmountcrawford@gmail.com | (540) 421-0856
                            
                           <br><a href="directory/town_personnel.html#townHall" height="2100px" style="color: white; text-decoration: none">Town Hall | 779 S. Main Street</a></h6>
                    <br>
    

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### About Area End ##### -->
