<div class="" style="background-color: #003030; height: 200px">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-12">
        <div class="breadcumb-text">
          <h1 class="connect-title title">Events</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ministries-area section-padding-50-0">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-12 single-ministry mb-100">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Upcoming Events</h2>
            <p>Click on the links to view!</p>
            <ul style="padding-left:15px">
              <!--              <li class="bulletList">-->
              <!--                <a  class="text-primary" href="../../assets/documents/FOXHILL-11-14.pdf" width="800px" height="2100px" target="_blank">-->
              <!--                  <strong>[Canceled] </strong>Cold Stream Farm Hearing - November 14, 2022 at 7pm</a><br>-->
              <!--                Additional Docs - -->
              <!--                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-letter.pdf" width="800px" height="2100px" target="_blank">Cold Stream Letter</a>,-->
              <!--                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-Permit.pdf" width="800px" height="2100px" target="_blank">Cold Stream Permit</a>,-->
              <!--                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-map.pdf" width="800px" height="2100px" target="_blank">Map</a>-->
              <!--              </li>-->
                            <li class="bulletList">
                              <p>
                                <strong class="text-primary">Fall Festival Vendor Application </strong> Sat. Sep 23, 2023, from 8am-2pm<br>
                                <br>
                                <a href="assets/documents/fall%20festival%202023.pdf" target="_blank" class="btn btn-info">Fill out the vendor form now</a>
                              </p>
                            </li>
                          <li class="bulletList">
                            <p>
                              <strong class="text-primary">Honor Local Veterans</strong><br>
                              <br>
                              The Town Council would like to honor our local Veterans. If you or a family member live in Mount Crawford and are a Veteran of the Armed Forces, please send the name and military branch along with your water bill payment or email: townofmountcrawford@gmail.com
                            </p>
                          </li>
              <li class="bulletList">
                <p>
                  <strong class="text-primary">1825-2025 Bicentennial Celebration </strong><br>
                  <br>
                  The Town is forming a Historical Committee to help gather information for Main Street to become a Historic District as well as to prepare for the Bicentennial Celebration of Mount Crawford.
                  If you would be interested in serving on this committee, or have photos you would be willing to have copied, or historic relics you would loan the town for the celebration, please call or text: (540) 421-0856 or email: townofmountcrawford@gmail.com
                </p>
              </li>

            </ul>

          </div>
          <div class="col-12 col-md-6">
            <img src="../../assets/img/town_w_mnt.jpg" alt="">
          </div>
        </div>


      </div>
    </div>



  </div>
</section>



