<div class="" style="background-color: #003030; height: 200px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h1 class="connect-title title">Reserving Facilities</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-50-0">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-12 single-ministry mb-100">
                <div class="row">
                <div class="col-12 col-md-12">
                    <h2>Mount Crawford Ruritan Hall Rental Information</h2>
                    <div class="renting-days">
                      <h3>Ruritan Hall is available to rent:</h3>
                      <p>Monday &#45; Thursday 8:00 am &#45; 9:00 pm</p>
                      <p>Friday and Saturday 8:00 am &#45; 10:00 pm </p>
                      <p>Sunday 6pm am &#45; 9:00 pm </p>
                    </div>


                  <p><small>All Music/Bands/Noise ends at 10:00 pm on Friday & Saturday. No Alcohol or Smoking in the Hall</small></p>





                    <ul class="list">
                      <li><strong>Shenandoah Valley Reformed Presbyterian Church</strong><br><small>Sunday Services at 10:30am and 2:00pm in the Hall.</small></li>
                      <li><strong>Mount Crawford Ruritan Clubbr</strong><br><small>Meets 1st Wednesday of each month at 6:30pm in the Hall.</small></li>
                    </ul>
                    <br>
                    <p>
                      Ruritan Park Pavilion is available to rent Sunday – Saturday, 8:00am – Dusk (April-October)
                    </p>


                    <h3>Reservations & information:</h3>
                    <p>Chris Campbell, 540-908- 1580</p>


                </div>

            </div>



            </div>

        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="../../../assets/img/pavilion_1.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">

                <img src="../../../assets/img/pavillion_2.jpg" alt="">
            </div>

        </div>
        <br>
            <br>



    </div>
</section>




