<div class="" style="background-color: #003030; height: 200px">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-12">
                <div class="breadcumb-text">
                    <h1 class="connect-title title">Boards and Commissions</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="ministries-area section-padding-50-0">
    <div class="container">

        <div class="row">

            <div class="col-12 col-md-12 single-ministry mb-100">
                <div class="row">
                <div class="col-12 col-md-6">
                    <h2>Mt. Crawford Planning Commission</h2>
                
                    <ul style="padding-left:15px">
                        <li class="bulletList"> JC Smythers</li>
                        <li class="bulletList"> Xan Stevens</li>
                        <li class="bulletList">Amy Taylor</li>
                        <li class="bulletList"> Jason May</li>
                        <li class="bulletList"> Laura Clark</li>
                    
                    </ul>
                    <h2>Mt. Crawford Board of Zoning Appeals</h2>
                
                    <ul style="padding-left:15px">
                        <li class="bulletList"> Kathy Campbell</li>
                        <li class="bulletList"> Bret Hart</li>
                        <li class="bulletList">John Overacker</li>
                        <li class="bulletList"> Bobby Taylor</li>
                        <li class="bulletList"> Josh Clark</li>
                    
                    </ul>
                    <h2>Economic Development Authority</h2>
                
                    <ul style="padding-left:15px">
                        <li class="bulletList">Robert Taylor</li>
                        <li class="bulletList"> Eric McGregor</li>
                        <li class="bulletList">Leland Stevens</li>
                        <li class="bulletList"> Angie Cook</li>
                        <li class="bulletList"> Toni Ray</li>
                    
                    </ul>
            
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../../assets/img/town_w_mnt.jpg" alt="">
                </div>
            </div>
                
                
            </div>
        </div>



    </div>
</section>


