<div class="" style="background-color: #003030; height: 200px">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-12">
        <div class="breadcumb-text">
          <h1 class="connect-title title">Public Hearings</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ministries-area section-padding-50-0">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-12 single-ministry mb-100">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Current Hearings</h2>
            <p>Click on the links to view!</p>
            <ul style="padding-left:15px">
              <li class="bulletList">
                <strong  class="text-primary">
                  Planning Commission Hearing - February 13, 2023 at 7pm</strong><br>
                  <p>
                    A joint public hearing will  be held on February 13, 2023, at 7:00 p.m., at the  Mt. Crawford Town Hall, in  Council Chambers, located  at 779 South Main Street,  Mt. Crawford, Virginia, to  receive comments on the  proposed revised comprehensive plan for the Town of Mt. Crawford, Virginia.
                    Information regarding the  Proposed Comprehensive  Plan may be obtained in  the Mt. Crawford Town office located at 779 South  Main Street, Mt. Crawford,  Virginia during normal  business hours or online  at: mountcrawford.us
                  </p>
                  Additional Docs -
                <a class="text-primary" href="https://drive.google.com/file/d/1eeJt22v3sFrZhPLSI4L0F1VOMwGUbDKj/view?usp=share_link" width="800px" height="2100px" target="_blank">Comprehensive Plans</a>
              </li>

            </ul>

          </div>
          <div class="col-12 col-md-6">
            <img src="../../assets/img/town_w_mnt.jpg" alt="">
          </div>
        </div>


      </div>
    </div>



  </div>
</section>



