<div class="" style="background-color: #003030; height: 200px">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-12">
        <div class="breadcumb-text">
          <h1 class="connect-title title">Public Hearings</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ministries-area section-padding-50-0">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-12 single-ministry mb-100">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Current Hearings</h2>
            <p>Click on the links to view!</p>
            <ul style="padding-left:15px">
<!--              <li class="bulletList">-->
<!--                <strong  class="text-primary">-->
<!--                  Planning Commission Hearing - May 8, 2023 at 7pm</strong><br>-->
<!--                  <p>-->
<!--                    A joint public hearing will  be held on May 8, 2023, at 7:00 p.m., at the  Mt. Crawford Town Hall, in  Council Chambers, located  at 779 South Main Street,  Mt. Crawford, Virginia-->
<!--                  Additional Docs - -->
<!--                <a class="text-primary" href="https://drive.google.com/file/d/1Ukq8SiEbFVMWcWdG4WHp-W7nihap6uF5/view?usp=sharing" width="800px" height="2100px" target="_blank">More Info</a>-->
<!--              </li>-->
<!--              <li class="bulletList">-->
<!--                <strong  class="text-primary">-->
<!--                  2023-2024 Proposed Budget</strong><br>-->
<!--                <p>-->
<!--                  Click on link for details-->
<!--                  <a style="margin-right: 2px" class="btn btn-info" href="https://drive.google.com/file/d/1rxQIvj23ioCYlscJiDcOm2SijPLtYrsp/view?usp=sharing" width="800px" height="2100px" target="_blank">Hearing Info</a>-->
<!--                  <a style="margin-right: 2px"class="btn btn-success" href="https://drive.google.com/file/d/1rxQIvj23ioCYlscJiDcOm2SijPLtYrsp/view?usp=sharing_eil_m&ts=6441a975" width="800px" height="2100px" target="_blank">New Budget</a>-->
<!--                  <a class="btn btn-primary" href="../../assets/documents/Budget-2022-2023.pdf" width="800px" height="2100px" target="_blank">Old Budget</a>-->
<!--              </li>-->

            </ul>

          </div>
          <div class="col-12 col-md-6">
            <img src="../../assets/img/town_w_mnt.jpg" alt="">
          </div>
        </div>


      </div>
    </div>



  </div>
</section>



