<div class="" style="background-color: #003030; height: 200px">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 col-md-12">
        <div class="breadcumb-text">
          <h1 class="connect-title title">Public Hearings</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ministries-area section-padding-50-0">
  <div class="container">

    <div class="row">

      <div class="col-12 col-md-12 single-ministry mb-100">
        <div class="row">
          <div class="col-12 col-md-6">
            <h2>Current Hearings</h2>
            <p>Click on the links to view!</p>
            <ul style="padding-left:15px">
              <li class="bulletList">
                <a  class="text-primary" href="../../assets/documents/FOXHILL-11-14.pdf" width="800px" height="2100px" target="_blank">
                  Cold Stream Farm Hearing - November 14, 2022 at 7pm</a><br>
                  Additional Docs -
                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-letter.pdf" width="800px" height="2100px" target="_blank">Cold Stream Letter</a>,
                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-Permit.pdf" width="800px" height="2100px" target="_blank">Cold Stream Permit</a>,
                <a class="text-primary" href="../../assets/documents/coldstream-2022-09/Coldstream-map.pdf" width="800px" height="2100px" target="_blank">Map</a>
              </li>

            </ul>

          </div>
          <div class="col-12 col-md-6">
            <img src="../../assets/img/town_w_mnt.jpg" alt="">
          </div>
        </div>


      </div>
    </div>



  </div>
</section>



